BODY {
	BACKGROUND-COLOR: #ffffff; COLOR: #000066; FONT-FAMILY: "ו", "Times New Roman"; FONT-SIZE: 75%; PADDING-LEFT: 10px; PADDING-TOP: 10px
}
TD {
	FONT-SIZE: 12px; LINE-HEIGHT: 18px; TEXT-DECORATION: none
}
INPUT.button {
	BACKGROUND-COLOR: #d5e6fd; BORDER-BOTTOM: #003333 1px solid; BORDER-LEFT: #003333 1px solid; BORDER-RIGHT: #003333 1px solid; BORDER-TOP: #003333 1px solid; COLOR: #000000; FONT-SIZE: 12px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; HEIGHT: 18px; LINE-HEIGHT: normal
}
INPUT.text {
	BORDER-BOTTOM: #003333 1px solid; BORDER-LEFT: #003333 1px solid; BORDER-RIGHT: #003333 1px solid; BORDER-TOP: #003333 1px solid; COLOR: #000000; FONT-SIZE: 12px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; HEIGHT: 18px; LINE-HEIGHT: normal; PADDING-LEFT: 3px; PADDING-RIGHT: 3px
}
TD.title {
	BACKGROUND-COLOR: #d7d7d7; COLOR: #000000; FONT-SIZE: 12px; HEIGHT: 24px
}
TD.tail {
	FONT-SIZE: 12px; HEIGHT: 25px
}
TD.hline {
	BACKGROUND-COLOR: #ea8a1c; COLOR: #ea8a1c; HEIGHT: 1px
}
TD.vline {
	BACKGROUND-COLOR: #ea8a1c; COLOR: #ea8a1c; WIDTH: 1px
}
.space {
	MARGIN-BOTTOM: 10px; MARGIN-TOP: 10px
}
TABLE {
	BACKGROUND-COLOR: #f5f5f5
}
SELECT.list {
	BORDER-BOTTOM: #003333 1px solid; BORDER-LEFT: #003333 1px solid; BORDER-RIGHT: #003333 1px solid; BORDER-TOP: #003333 1px solid; COLOR: #000000; FONT-SIZE: 12px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; HEIGHT: 18px; LINE-HEIGHT: normal
}
INPUT.buttonface {
	BACKGROUND-COLOR: #d5e6fd; BORDER-BOTTOM: #003333 1px solid; BORDER-LEFT: #003333 1px solid; BORDER-RIGHT: #003333 1px solid; BORDER-TOP: #003333 1px solid; COLOR: #000000; FONT-SIZE: 12px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; HEIGHT: 18px; LINE-HEIGHT: normal
}
TD.top {
	FONT-SIZE: 12px; LINE-HEIGHT: 18px; TEXT-DECORATION: none; VERTICAL-ALIGN: top
}
INPUT.textspecial {
	BORDER-BOTTOM: #003333 1px solid; BORDER-LEFT: #003333 1px solid; BORDER-RIGHT: #003333 1px solid; BORDER-TOP: #003333 1px solid; COLOR: #000000; FONT-SIZE: 12px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; HEIGHT: 18px; LINE-HEIGHT: normal
}
